<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
	<data>
		
		<!--<record id="home_index_act_window" model="ir.actions.client">-->
		<!--<field name="name">站务首页</field>-->
		<!--<field name="tag"></field>-->
		<!--</record>-->
		<!--<record id="key_manage_act_window" model="ir.actions.act_window">-->
			<!--<field name="name">钥匙管理</field>-->
			<!--<field name="res_model">funenc.xa.station.key.manage</field>-->
			<!--<field name="view_mode">tree,form</field>-->
		<!--</record>-->
		<record id="key_detail_act_window" model="ir.actions.act_window">
			<field name="name">钥匙详情</field>
			<field name="res_model">funenc.xa.station.key.detail</field>
			<field name="view_mode">tree,form</field>
		</record>
		<record id="key_type_act_window" model="ir.actions.act_window">
			<field name="name">钥匙类型</field>
			<field name="res_model">funenc.xa.station.key.type</field>
			<field name="view_mode">tree,form</field>
		</record>
		<record id="change_record_act_window" model="ir.actions.act_window">
			<field name="name">变更记录</field>
			<field name="res_model">funenc.xa.station.change.record</field>
			<field name="view_mode">tree,form</field>
		</record>
		<record id="borrow_record_act_window" model="ir.actions.act_window">
			<field name="name">借用记录</field>
			<field name="res_model">funenc.xa.station.borrow.record</field>
			<field name="view_mode">tree,form</field>
		</record>

		<record id="station_detail_ground_traffic" model="ir.actions.act_window">
			<field name="name">地面交通</field>
			<field name="res_model">funenc_xa_station.ground_traffic</field>
			<field name="view_mode">tree,form</field>
		</record>

		<record id="funenc_station_civil_engineering" model="ir.actions.act_window">
			<field name="name">土建结构</field>
			<field name="res_model">funenc_xa_station.civil_engineering</field>
			<field name="view_mode">tree,form</field>
		</record>

		<record id="funenc_station_signal_system" model="ir.actions.act_window">
			<field name="name">信号系统</field>
			<field name="res_model">funenc_xa_station.signal_system</field>
			<field name="view_mode">tree,form</field>
		</record>

		<record id="funenc_station_line_turnout" model="ir.actions.act_window">
			<field name="name">线路、道岔</field>
			<field name="res_model">funenc_xa_station.line_turnout</field>
			<field name="view_mode">tree,form</field>
		</record>

		<record id="funenc_station_station_staffing" model="ir.actions.act_window">
			<field name="name">人员配置</field>
			<field name="res_model">funenc_xa_station.station_staffing</field>
			<field name="view_mode">tree,form</field>
		</record>

		<record id="funenc_station_station_exit" model="ir.actions.act_window">
			<field name="name">消防逃生图</field>
			<field name="res_model">funenc_xa_station.station_exit</field>
			<field name="view_mode">tree,form</field>
		</record>

		<record id="xa_scheduling_settings" model="ir.actions.act_window">
			<field name="name">排班设置111</field>
			<field name="res_model">funenc_xa_station.arrange_order</field>
			<field name="view_mode">tree,form</field>
		</record>

		<record id="xa_scheduling_class_group_settings" model="ir.actions.act_window">
			<field name="name">班组设置</field>
			<field name="res_model">funenc_xa_station.class_group</field>
			<field name="view_mode">tree,form</field>
		</record>




		<record id="station_detail_act_window" model="ir.actions.act_window">
			<field name="name">车站基本信息</field>
			<field name="res_model">funenc_xa_station.station_detail</field>
			<field name="view_mode">tree,form</field>
			<field name="top_widget">multi_action_tab</field>
            <field name="top_widget_key">driver_manage_tab_1</field>
            <field name="top_widget_options">
                {'tabs': [{'title': '测试',
                'action':  {
                    'type': 'ir.actions.act_window',
                    "name": "测试",
                    'views': [[False, 'list'], [False, 'form']],
                    'view_mode': 'tree,form',
                    "res_model": "funenc_xa_station.station_detail"
                }},
                {'title': 'tab2', 'domains': [['login', '=', 'admin']]},
                {'title': 'tab3', 'domains': [['login', '=', 'demo']]}]}
            </field>

			<field name="view_ids" eval="[(5, 0, 0),
            (0, 0, {'view_mode': 'tree', 'view_id': ref('funenc_xa_station.funenc_xa_station_station_detail_list')}),
            (0, 0, {'view_mode': 'form', 'view_id': ref('funenc_xa_station.funenc_xa_station_station_detail_form')})]">
            </field>
		</record>

		<record model="ir.actions.client" id="key_manage_act_window_1">
          <field name="name">钥匙管理</field>
          <field name="tag">key_statistic</field>
        </record>

		<menuitem id="funenc_station" icon="&#xe628;" name="站务管理" sequence="1"
		/>

		<!--<menuitem id="home_index" icon="&#xe621;" name="站务首页" sequence="1"-->
		<!--parent="funenc_station"/>-->
		<!--<menuitem id="product_manage" icon="&#xe621;" name="生产管理" sequence="2"-->
		<!--parent="funenc_station"/>-->
		
		<menuitem id="opening_manage" name="运作管理" sequence="3"
		          parent="funenc_station"/>
		<menuitem id="keys_manage" name="钥匙管理" sequence="1"
		          parent="opening_manage"/>
		<menuitem id="keys_index" action="key_manage_act_window_1" name="钥匙管理" sequence="1"
		          parent="keys_manage"/>
		<menuitem id="keys_detail" action="key_detail_act_window" name="钥匙详情" sequence="2"
		          parent="keys_manage"/>
		<menuitem id="keys_types" action="key_type_act_window" name="钥匙类型" sequence="3"
		          parent="keys_manage"/>
		<menuitem id="change_records" action="change_record_act_window" name="变更记录" sequence="4"
		          parent="keys_manage"/>
		<menuitem id="borrow_records" action="borrow_record_act_window" name="借用记录" sequence="5"
		          parent="keys_manage"/>
		
		<!--<menuitem id="total_manage" icon="&#xe621;" name="综合管理" sequence="4"-->
		<!--parent="funenc_station"/>-->
		<!--<menuitem id="users_manage" icon="&#xe621;" name="人员管理" sequence="5"-->
		<!--parent="funenc_station"/>-->
		<!--<menuitem id="others_manage" icon="&#xe621;" name="系统及其他" sequence="6"-->
		<!--parent="funenc_station"/>-->

		<menuitem id="funenc_station_integrated_management" icon="&#xe628;" name="综合管理" sequence="4"
		          parent="funenc_station"
		/>

		 <!--线别设置-->
        <!--<record id="train_rec_check_boxes" model="ir.actions.act_window">-->
            <!--<field name="name">线别设置</field>-->
            <!--<field name="res_model">train_line.train_line</field>-->
            <!--<field name="view_mode">tree,form</field>-->
        <!--</record>-->

		 <!--人员账号管理-->
        <!--<record id="person_account_rec_mgmt" model="ir.actions.act_window">-->
            <!--<field name="name">人员账号管理</field>-->
            <!--<field name="res_model">cdtct_dingtalk.cdtct_dingtalk_users</field>-->
            <!--&lt;!&ndash;<field name="domain">[('id', '=', 1)]</field>&ndash;&gt;-->
            <!--<field name="view_ids" eval="[(5, 0, 0),-->
                <!--(0, 0, {'view_mode': 'tree', 'view_id': ref('person_account_tree_mgmt')}),-->
                <!--(0, 0, {'view_mode': 'form', 'view_id': ref('person_account_form_mgmt')})]"/>-->
        <!--</record>-->

		<!--系统配置-->
        <menuitem id="plan_menu_system_conf_1" name="系统配置" sequence="2" icon="&#xe614;" />

		<menuitem id="plan_menu_line_manage_1" name="线路管理" parent="plan_menu_system_conf_1" />

		<!--<menuitem id="train_menu_check_boxes_1" name="线路设置" parent="plan_menu_line_manage_1"  action="train_rec_check_boxes"/>-->

        <!--<menuitem id="plan_menu_username_manage_1" name="人员账号管理" parent="plan_menu_system_conf_1" />-->
		<!--<menuitem id="train_menu_username_1" name="账号设置" parent="plan_menu_username_manage_1"  action="person_account_rec_mgmt"/>-->
		<!--<menuitem id="train_menu_role_group_1" name="角色组" parent="plan_menu_username_manage_1"  action="train_rec_check_boxes"/>-->

        <menuitem id="integrated_management_station_detail" name="车站基本信息" sequence="4"
		          parent="funenc_station_integrated_management"
		          action="station_detail_act_window"
		/>

		<!--<menuitem id="station_detail_1" name="车站详情" sequence="1"-->
		          <!--parent="integrated_management_station_detail"/>-->

		 <menuitem id="station_detail_2" name="地面交通" sequence="2"
				   parent="funenc_station_integrated_management"
				   action="station_detail_ground_traffic"

		 />

		 <menuitem id="station_detail_3" name="土建结构" sequence="3"
		           parent="funenc_station_integrated_management"
				   action="funenc_station_civil_engineering"

		 />

		 <menuitem id="station_detail_4" name="线路、道岔" sequence="4"
		           parent="funenc_station_integrated_management"
				   action="funenc_station_line_turnout"
		 />

		 <menuitem id="station_detail_5" name="信号系统" sequence="5"
		           parent="funenc_station_integrated_management"
				   action="funenc_station_signal_system"

		 />

		 <menuitem id="station_detail_6" name="人员配置" sequence="6"
		           parent="funenc_station_integrated_management"
				   action="funenc_station_station_staffing"
		 />

		 <menuitem id="station_detail_7" name="消防逃生图" sequence="7"
				   parent="funenc_station_integrated_management"
		           action="funenc_station_station_exit"
		 />

		<menuitem id="station_scheduling_settings" name="排班设置"
				  parent="funenc_station_integrated_management"
		/>

		<menuitem id="station_scheduling_settings_1" name="排班设置111"
				  parent="station_scheduling_settings"
				  action="xa_scheduling_settings"
		/>

		<menuitem id="station_scheduling_class_group" name="班组设置"
				  parent="station_scheduling_settings"
				  action="xa_scheduling_class_group_settings"
		/>

		<menuitem id="operation_menu_son_id" name="规章制度" parent="funenc_station_integrated_management"
				  action="operation_act_id"></menuitem>

		<menuitem id="operation_management_id_parent" action="person_certificate_act" name="规章制度预设管理"
				  parent="funenc_station_integrated_management"></menuitem>
        <menuitem id="kind_form_son" parent="operation_management_id_parent" name="新增专业分类" action='kind_act_id'></menuitem>
        <menuitem id="add_class_form_son" parent="operation_management_id_parent" name="新增级别分类"
				  action='add_class_act_id'></menuitem>

		<menuitem name="档案资料" id="add_station_certificate_menu_parent"
				  parent="funenc_station_integrated_management"></menuitem>
        <menuitem id="add_station_certificate_menu" action="station_certificate_act_id_1" name="车站证件"
				  parent="add_station_certificate_menu_parent"></menuitem>
		<menuitem id="person_certificate_menu" action="person_certificate_act" name="人员证件"
				  parent="add_station_certificate_menu_parent"></menuitem>


		<menuitem  name="人员管理系统" id="person_management_menu_" parent="funenc_xa_station.funenc_station"></menuitem>
        <menuitem name="人员信息详情" action="person_information_act" id="person_info_menu" parent="person_management_menu_"
                  sequence="2"></menuitem>
		<menuitem name="人员管理系统-人员信息"  action="per_management_act" id="per_management_menu" parent="person_management_menu_"
        sequence="1"> </menuitem>
		<menuitem id="second_menu"  action="second_act" name="人员借调" parent="person_management_menu_" sequence="3"></menuitem>






		 <!--<menuitem id="station_detail_8" name="客流情况" sequence="8"-->
		          <!--parent="integrated_management_station_detail"/>-->
		<!--<menuitem id="synthesize_operation_menu_id" name="综合管理" parent="funenc_station" sequence="4"></menuitem>-->
		<!--<menuitem id="operation_menu_id" name="规章制度" parent="synthesize_operation_menu_id" sequence="1"></menuitem>-->
    	<!--<menuitem id="operation_menu_son_id" name="新增规章" parent="operation_menu_id" action="operation_act_id"></menuitem>-->

		<!--<menuitem id="kind_menu_form_parent" name="规章制度预设管理" parent="synthesize_operation_menu_id" sequence="2"></menuitem>-->
        <!--<menuitem id="kind_form_son" parent="kind_menu_form_parent" name="规章制度" action='kind_act_id'></menuitem>-->
        <!--<menuitem id="add_class_form_son" parent="kind_menu_form_parent" name="新增专业分类" action='add_class_act_id'></menuitem>-->

		<!--<menuitem name="档案资料" id="add_station_certificate_menu_parent" parent="synthesize_operation_menu_id"></menuitem>-->
        <!--<menuitem id="add_station_certificate_menu" action="station_certificate_act_id_1" name="车站证件管理" parent="add_station_certificate_menu_parent"></menuitem>-->
		<!--<menuitem id="person_certificate_menu" action="person_certificate_act" name="人员证件管理" parent="add_station_certificate_menu_parent"></menuitem>-->
        <!--<menuitem id="kind_form_son" parent="kind_menu_form_parent" name="新增专业分类" action='kind_act_id'></menuitem>-->
        <!--<menuitem id="add_class_form_son" parent="kind_menu_form_parent" name="新增级别分类" action='add_class_act_id'></menuitem>-->

		<!--<menuitem name="档案资料" id="add_station_certificate_menu_parent" parent="synthesize_operation_menu_id"></menuitem>-->
        <!--<menuitem id="add_station_certificate_menu" action="station_certificate_act_id_1" name="车站证件" parent="add_station_certificate_menu_parent"></menuitem>-->
		<!--<menuitem id="person_certificate_menu" action="person_certificate_act" name="人员证件" parent="add_station_certificate_menu_parent"></menuitem>-->




	</data>
</odoo>
