<div id="funenc_xa_check">
    <template>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <h4>考评汇总</h4>
                <el-tabs v-model="tabValue" @tab-click="handleSelect">
                    <el-tab-pane label="考评记录" name="1" v-if="1"></el-tab-pane>
                    <el-tab-pane label="考评汇总" name="2" v-if='2'></el-tab-pane>
                    <el-tab-pane label="奖励记录" name="3" v-if="3"></el-tab-pane>
                    <el-tab-pane label="奖励汇总" name="4" v-if="4"></el-tab-pane>
                </el-tabs>
            </div>
               <div>
                            <div class="block" style="margin-bottom:20px">
                                <span class="demonstration">选择时间</span>
                                <el-date-picker
                                        v-model="value6"
                                        type="month"
                                        placeholder="选择月">
                                </el-date-picker>
                                <el-button type="primary" icon="el-icon-search" width="180" @click="search_time">搜索
                                </el-button>
                                <el-button type="primary" icon="el-icon-caret-bottom" width="180" @click="import_excel">
                                    导出
                                </el-button>
                            </div>
                            <el-table :data="tableData" stripe style="width: 100%" :data="tableData" size="mini" border>

                                <el-table-column prop="line_id" label="线路" width="180">
                                </el-table-column>
                                <el-table-column prop="site_id" label="站点" width="180">
                                </el-table-column>
                                <el-table-column prop="job_number" label="工号">
                                </el-table-column>
                                <el-table-column prop="position" label="职位">
                                </el-table-column>
                                <el-table-column prop="all_score" label="总分">
                                </el-table-column>
                                <el-table-column prop="mouth_grade" label="本月评分">
                                </el-table-column>
                                <el-table-column prop="comment_count" label="考评次数">
                                </el-table-column>
                            </el-table>
                        </div>


        </el-card>
    </template>
</div>