<div id="good_deeds_summary">
    <template>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <h4>好人好事汇总</h4>
            </div>
            <div class="block">
                <el-form :inline="true" class="demo-form-inline">
                    <el-form-item>
                        <el-select v-model="department" size="small" placeholder="部门" @change="get_line">
                            <el-option
                                    v-for="item in departments"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id"
                            >
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-select v-model="line" size="small" placeholder="分部" @change="get_site">
                            <el-option
                                    v-for="item in lines"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id"
                            >
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-select v-model="site" size="small" placeholder="站点">
                            <el-option
                                    v-for="item in sites"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                            <el-date-picker
                              v-model="datetime"
                              type="daterange"
                              align="right"
                              unlink-panels
                              range-separator="至"
                              start-placeholder="开始日期"
                              end-placeholder="结束日期"
                              >
                            </el-date-picker>
                    </el-form-item>
                    <el-form-item>

                        <el-button
                        type="primary" icon="el-icon-search" size="small" @click="search_record">搜索
                        </el-button>
                        <el-button type="primary" icon="el-icon-caret-bottom" size="small"
                                   >导出
                        </el-button>
                    </el-form-item>

                </el-form>
            </div>
            <el-table :data="tableData" stripe style="width: 100%" :data="tableData" size="mini" border>
                <el-table-column prop="good_deeds_type" label="好人好事类型">
                </el-table-column>
                <el-table-column prop="frequency" label="发生次数">
                </el-table-column>
            </el-table>
        </el-card>
    </template>
</div>



