<div id="app">

    <el-row v-if="position=='station_master' ">
        <el-button type="primary" size="small"
                   @click="station_master('funenc_xa_station.funenc_xa_station_production_change_shifts_form')">值班站长
        </el-button>
        <el-button type="primary" size="small"
                   @click="train_working('funenc_xa_station.production_change_train_working_shifts_form11')">行车值班员
        </el-button>
        <el-button type="primary" size="small"
                   @click="station_service('funenc_xa_station.station_service_form')">站务员
        </el-button>
        <el-button type="primary" size="small" @click="ticket_booth('funenc_xa_station.station_service_form')">票亭岗
        </el-button>
        <el-button type="primary" size="small"
                   @click="passenger_transport('funenc_xa_station.passenger_transport_train_working_shifts_form11')">
            客运值班员
        </el-button>
        <el-button type="primary" size="small" @click="return_button">返回</el-button>
    </el-row>

    <el-row v-if="position=='train_working' ">
        <el-button type="primary" size="small"
                   @click="train_working('funenc_xa_station.production_change_train_working_shifts_form11')">行车值班员
        </el-button>
        </el-button>
        <el-button type="primary" size="small"
                   @click="passenger_transport('funenc_xa_station.passenger_transport_train_working_shifts_form11')">
            客运值班员
        </el-button>
        <el-button type="primary" size="small" @click="return_button">返回</el-button>
    </el-row>

    <el-row v-if="position=='station_service' ">
        <el-button type="primary" size="small"
                   @click="station_service('funenc_xa_station.station_service_form')">站务员
        </el-button>
        <el-button type="primary" size="small" @click="ticket_booth('funenc_xa_station.station_service_form')">票亭岗
        </el-button>
        <el-button type="primary" size="small" @click="return_button">返回</el-button>
    </el-row>

    </el-row>


</div>
