<div id="app">
    <el-row type="flex" align="middle" justify="end">
        <el-button type="primary" size="mini" @click="save">保存</el-button>
    </el-row>
    <el-row>
        <span>班组班表</span><span style="color: #AAAAAA;margin-bottom: 10px">(选择班次可进行修改)</span>
    </el-row>
    <el-row type="flex" align="middle" style="margin-bottom: 20px">
        <el-col :span="24">
            <el-table
                    size="mini"
                    :data="group_table_data"
                    style="width: 100%">
                <el-table-column
                        label="序号"
                        type="index"
                        align="center"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop="group_name"
                        label="班组名称"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="user_name"
                        label="人员名称"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="work_number"
                        align="center"
                        label="工号">
                </el-table-column>
                <el-table-column
                        prop="position"
                        align="center"
                        label="岗位">
                </el-table-column>
                <el-table-column v-for="(item, index) in days"
                                 align="center"
                                 :label="item">
                    <template slot-scope="scope">
                        <el-select size="mini" v-model="scope.row.shift_value[index].shift" placeholder="请选择班次">
                            <el-option
                                    v-for="item in shift_options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </el-table-column>

            </el-table>
        </el-col>
    </el-row>

    <el-row>
        <span>机动人员班表</span><span style="color: #AAAAAA;margin-bottom: 10px">(选择班次可进行修改)</span>
    </el-row>
    <el-row type="flex" align="middle" style="margin-bottom: 20px">
        <el-col :span="24">
            <el-table
                    size="mini"
                    :data="motorized_group_table_data"
                    style="width: 100%">
                <el-table-column
                        label="序号"
                        type="index"
                        align="center"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop="user_name"
                        label="人员名称"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="work_number"
                        align="center"
                        label="工号">
                </el-table-column>
                <el-table-column
                        prop="position"
                        align="center"
                        label="岗位">
                </el-table-column>
                <el-table-column v-for="(item, index) in days"
                                 align="center"
                                 :label="item">
                    <template slot-scope="scope">
                        <el-select size="mini" v-model="scope.row.shift_value[index].shift" placeholder="请选择班次">
                            <el-option
                                    v-for="item in shift_options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>
    </el-row>

    <el-row>
        <span>班次汇总</span>
    </el-row>
    <el-row type="flex" align="middle">
        <el-col :span="24">
            <el-table
                    size="mini"
                    :data="total_group_table_data"
                    style="width: 100%">
                <el-table-column
                        label="序号"
                        type="index"
                        align="center"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop="group_name"
                        align="center"
                        label="班次名称">
                </el-table-column>
                <el-table-column
                        align="center"
                        label="班次人数">
                    <el-table-column v-for="(item, index) in days"
                                     align="center"
                                     :label="item">
                        <template slot-scope="scope">
                            <span>{{scope.row.shift_value[index].user_number}}</span>
                        </template>
                    </el-table-column>
                </el-table-column>
            </el-table>
        </el-col>
    </el-row>
</div>