<div id="app">
    <el-row type="flex" align="middle">
        <el-form :inline="true" class="demo-form-inline">
            <el-form-item>
                <span style="font-size: 13px">日期筛选：</span>
                <el-date-picker
                        v-model="month"
                        type="month"
                        size="small"
                        value-format="yyyy-MM-dd"
                        placeholder="选择月份">
                </el-date-picker>
            </el-form-item>
            <el-form-item>
                <span style="font-size: 13px">线路：</span>
                <el-select v-model="lines" @change="selectLine" filterable placeholder="请选择线路" size="small">
                    <el-option
                            v-for="item in line_options"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <span style="font-size: 13px">站点：</span>
                <el-select v-model="sites" filterable placeholder="请选择站点" size="small">
                    <el-option
                            v-for="item in site_options"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button size="small" type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
        </el-form>
    </el-row>

    <el-row style="margin-bottom: 10px">
        <span>本月班表</span>
    </el-row>
    <el-row type="flex" align="middle" :gutter="20" style="margin-bottom: 20px">
        <el-table
                border
                size="mini"
                :data="day_table_data"
                style="width: 100%">
            <el-table-column
                    label="序号"
                    type="index"
                    align="center"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="group_name"
                    label="班组名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="user_name"
                    label="人员名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="work_number"
                    align="center"
                    label="工号">
            </el-table-column>
            <el-table-column
                    prop="position"
                    align="center"
                    label="岗位">
            </el-table-column>
            <el-table-column v-for="(item, index) in days"
                             align="center"
                             :key="index"
                             :label="item">
                <template slot-scope="scope">
                    {{scope.row.shift_value[index]}}
                </template>
            </el-table-column>

        </el-table>
        <div style="margin-top:40px;"></div>
    </el-row>

    <el-row style="margin-bottom: 10px">
        <span>本月班次</span>
    </el-row>
    <el-row type="flex" align="middle" :gutter="20" style="margin-bottom: 20px">
        <el-table
                border
                size="mini"
                :data="total_table_data"
                style="width: 100%">
            <el-table-column
                    label="序号"
                    type="index"
                    align="center"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="group_name"
                    label="班组名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="user_name"
                    label="人员名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="work_number"
                    align="center"
                    label="工号">
            </el-table-column>
            <el-table-column
                    prop="position"
                    align="center"
                    label="岗位">
            </el-table-column>
            <el-table-column v-for="(item, index) in arrange_orders"
                             align="center"
                             :key="index"
                             :label="item">
                <template slot-scope="scope">
                    {{scope.row.total[index]}}
                </template>
            </el-table-column>


        </el-table>
    </el-row>
</div>